body{
    background-color: map-get($colores , bg );
    nav{
        ul {
            @extend %flexRow;
            li{
                a{
                    background-color: map-get(colores , primario );
                    &:hover{
                        background-color: map-get(colores, secundario  );
                    }
                }
            }
        }
    }
    .container{
        @include flexbox (column, space-between, nowrap);
    }
}


