/* Mapas
$nombreDelMap: (
    key: value,
    key: value
);

each

Extends

%nombreExtend (
    propiedad: valor;
    propiedad: valor;
)

Mixins

@mixin nombre ($variable1, $variable2){
    contenido
}

if dentro de un mixing

*/

