/* Mapas
$nombreDelMap: (
    key: value,
    key: value
);

each

Extends

%nombreExtend (
    propiedad: valor;
    propiedad: valor;
)

Mixins

@mixin nombre ($variable1, $variable2){
    contenido
}

if dentro de un mixing

*/

$colores:(
    primario: red,
    secundario: blue,
    bg: lightblue,
    hover-primero: darken(rgb(149, 211, 133),20),
    hover-secundario: lighten(blue,20)
);

%flexRow{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

@mixin flexbox($direction, $justify, $wrap){
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    flex-wrap: $wrap;
}
